@model BookshelfDALEF.Models.Inventory

@{
    ViewBag.Title = "Details";
}

<div class="well well-sm"><h1>Inventory Details</h1></div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReadStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReadStatus)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", new { id = Model.BookId})">
        <span class="glyphicon glyphicon-edit"></span>&nbsp;Edit
    </a>
    &nbsp;|&nbsp;
    <a href="@Url.Action("Delete", new { id = Model.BookId})">
        <span class="glyphicon glyphicon-trash"></span>&nbsp;Delete
    </a>
    &nbsp;|&nbsp;
    <a href="@Url.Action("Index", new { id = Model.BookId})">
        <span class="glyphicon glyphicon-list"></span>&nbsp;Back to list
    </a>
</p>
